    ##引入mybatis支持
        $!mybatisSupport

        ##设置保存名称与保存位置
        $!callback.setFileName($tool.append($!{tableInfo.name}, "Dao.xml"))
        $!callback.setSavePath($tool.append($modulePath, "/src/main/resources/mapper"))

        ##拿到主键
        #if(!$tableInfo.pkColumn.isEmpty())
            #set($pk = $tableInfo.pkColumn.get(0))
        #end

    <?xml version="1.0" encoding="UTF-8"?>
    <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="$!{tableInfo.savePackageName}.dao.$!{tableInfo.name}Dao">

        <resultMap type="$!{tableInfo.savePackageName}.entity.$!{tableInfo.name}" id="$!{tableInfo.name}Map">
            #foreach($column in $tableInfo.fullColumn)
                <result property="$!column.name" column="$!column.obj.name" jdbcType="$!column.ext.jdbcType"/>
            #end
        </resultMap>

        <!--查询所有字段-->
        <sql id="queryAllColumn">
            select
                #foreach($column in $tableInfo.fullColumn)
                    `$!column.obj.name`#if($velocityHasNext), #end
                #end
            from $!{tableInfo.obj.parent.name}.$!tableInfo.obj.name
        </sql>

        <!--所有的where条件-->
        <sql id="whereAll">
            <where>
                #foreach($column in $tableInfo.fullColumn)
                    <if test="$!column.name != null#if($column.type.equals(
                        "java.lang.String")) and $!column.name != ''#end">
                        and $!column.obj.name = #{$!column.name}
                    </if>
                #end
            </where>
        </sql>

        <!--除主键外所有set条件-->
        <sql id="setAll">
            <set>
                #foreach($column in $tableInfo.otherColumn)
                    <if test="$!column.name != null#if($column.type.equals(
                        "java.lang.String")) and $!column.name != ''#end">
                        $!column.obj.name = #{$!column.name},
                    </if>
                #end
            </set>
        </sql>

        <!--查询所有数据-->
        <select id="queryAll" resultMap="$!{tableInfo.name}Map">
            <include refid="queryAllColumn" />
            <include refid="whereAll" />
        </select>

        <!--通过主键查询单条数据-->
        <select id="queryById" resultMap="$!{tableInfo.name}Map">
            <include refid="queryAllColumn" />
            where $!pk.obj.name = #{$!pk.name}
        </select>

        <!--插入一条数据-->
        <insert id="insert" keyProperty="$!pk.name" useGeneratedKeys="true">
            insert into $!{tableInfo.obj.parent.name}.$!{tableInfo.obj.name}(#foreach($column in $tableInfo.otherColumn)$!column.obj.name#if($velocityHasNext), #end#end)
            values (#foreach($column in $tableInfo.otherColumn)#{$!{column.name}}#if($velocityHasNext), #end#end)
        </insert>

        <!--通过主键修改数据-->
        <update id="update">
            update $!{tableInfo.obj.parent.name}.$!{tableInfo.obj.name}
            <include refid="setAll" />
            where $!pk.obj.name = #{$!pk.name}
        </update>

        <!--通过主键删除数据-->
        <delete id="deleteById">
            delete
            from $!{tableInfo.obj.parent.name}.$!{tableInfo.obj.name}
            where $!pk.obj.name = #{$!pk.name}
        </delete>

        <!--统计总行数-->
        <select id="count" resultType="java.lang.Long">
            select count(1)
            from $!tableInfo.obj.name
            <include refid="whereAll" />
        </select>

    </mapper>